html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 1em/1.3 Verdana, Geneva, sans-serif;
    color: #000;
    background: #fff;
}

a, a:visited {
    text-decoration: none;
    color: #365da9;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #2a6497;
}

header {
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5vw;
}

h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
}

h1 a, h1 a:visited {
    color: #aaa;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    color: #aaa;
    margin: 0 0 0 1rem;
}

main {
    padding: 2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

h2 {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}

.toggle {
    display: block;
    position: absolute;
    margin-top: .3rem;
    margin-left: -.2rem;
    transition: .1s;
    user-select: none;
    background: white;
    padding: .2rem;
}
.open .toggle {
    transform: rotate(90deg);
}

ol {
    display: flex;
    padding-left: 1.2rem;
    list-style: none;
    max-width: 100%;
    overflow-x: hidden;
}

ol:after {
    content: "";
    background-image: linear-gradient(90deg, transparent, white);
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
}

li.open ol {
    flex-direction: column;
    margin-top: .3rem;
}

ol li {
    white-space: nowrap;
    margin: .5rem .5rem .5rem 0;
}

li.open ol li {
    margin: .2rem .5rem .2rem 0;
}

li:not(.open) ol li:after {
    content: '/';
    color: #ddd;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    display: inline-block;
}

h3 a:visited {
    color: #333;
}

time {
    color: #888;
    font-size: .8rem;
}

footer {
    padding: 2rem;
    padding-bottom: 3rem;
    font-size: .6875rem;
    color: #bbb;
}
footer a, footer a:hover, footer a:visited, footer a:focus, footer a:active {
    color: #bbb;
    text-decoration: underline;
}

form {
    margin: 1.5rem auto 0;
    border: 1px solid #ddd;
    padding: 2rem;
    max-width: 21rem;
}

form h2 {
    margin-bottom: 1.5rem;
}

form p {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

input[type=text] {
    display: block;
    margin-top: .5rem;
    max-width: 20rem;
    width: 100%;
}

button {
    margin-top: 1.5rem;
}
