html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 1em/1.3 Verdana, Geneva, sans-serif;
    color: #000;
    background: #fff;
}

a, a:visited {
    text-decoration: none;
    color: #365da9;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #2a6497;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */

header {
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5vw;
}

h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    display: inline;
}

h1 a, h1 a:visited {
    color: #aaa;
}

nav {
    display: inline;
}

header ul {
    display: inline-flex;
}

header ul li {
    color: #aaa;
    margin: 0 0 0 1rem;
}

nav span {
    text-decoration: underline;
}

/* River */

.river {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1em;
}

.river h2 {
    font-size: 1.5rem;
    padding: 1.3rem;
    margin: 0;
    height: 1.3rem;
    display: inline-block;
    padding-left: 0;
    font-weight: bold;
}

.river > ul {
    width: auto;
    margin: 2.6rem 0;
}

.river > ul > li {
    clear: both;
    padding: .5rem 0 0;
    border-top: 1px solid #ddd;
    margin: 1.1rem 0 0;
}
.river h2, .river > ul > li > div > time {
    float: left;
    padding: 0 .5rem 0 0;
    margin: -1.1rem 0 0;
    font-size: .75rem;
    font-weight: normal;
    background: #fff;
}

.river > ul > li > div > time {
    float: right;
    padding: 0 0 0 .5rem;
    color: #777;
}

.river ol li {
    clear: both;
    position: relative;
    padding: 1rem 0;
    margin: 0;
}
.river h3 {
    font-size: 1rem;
    margin: 0;
}
.river summary h3 {
    display: inline-block;
}
.river p {
    font-size: 0.875rem;
    margin: .2rem 0;
}
.river .timea {
    clear: both;
    margin: 0 1.5rem 0 0;
    font-size: .6875rem;
    color: #666;
}
.river img {
    max-width: 100%;
}

/* Forms */

form[data-toggled] {
    display: none;
}

form[data-toggled].open {
    display: block;
}

form {
    margin: 1.5rem auto 0;
    border: 1px solid #ddd;
    padding: 2rem;
    max-width: 21rem;
}

form h2 {
    margin-bottom: 1.5rem;
}

form p {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

input[type=text] {
    display: block;
    margin-top: .5rem;
    max-width: 20rem;
    width: 100%;
}

button {
    margin-top: 1.5rem;
}

/** Garden */

.garden {
    padding: 2rem;
}

.garden h2 {
    font-size: 1rem;
    margin: 0;
    margin-left: 1.2rem;
    display: inline-block;
}

.garden .toggle {
    display: block;
    position: absolute;
    margin-top: .3rem;
    width: 1rem;
    margin-left: -.2rem;
    transition: .1s;
    user-select: none;
    background: white;
    padding: .2rem;
}

.garden .open .toggle {
    transform: rotate(90deg);
}

.garden ul > li .remove {
    display: none;
    background: pink;
    color: white;
    font-size: .8rem;
    border-radius: 10em;
    padding: .3em;
    text-align: center;
    line-height: .8em;
    height: 1em;
    width: 1em;
    position: absolute;
    margin-left: .5rem;
}

.garden .remove.open {
    display: inline-block;
}

.garden ul > li:hover .remove:hover, ul > li:hover .remove:active {
    text-decoration: none;
    background: red;
}

.garden ol {
    display: flex;
    padding-left: 1.2rem;
    list-style: none;
    max-width: 100%;
    overflow-x: hidden;
}

.garden ol:after {
    content: "";
    background-image: linear-gradient(90deg, transparent, white);
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
}

.garden li.open ol {
    flex-direction: column;
    margin-top: .3rem;
}

.garden ol li {
    white-space: nowrap;
    margin: .5rem .5rem .5rem 0;
}

.garden li.open ol li {
    margin: .2rem .5rem .2rem 0;
}

.garden li:not(.open) ol li:after {
    content: '/';
    color: #ddd;
}

.garden h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    display: inline-block;
}

.garden h3 a:visited {
    color: #333;
}

.garden time {
    color: #888;
    font-size: .8rem;
}
