:root {
    /* https://www.colourlovers.com/palette/4654317/V_O_G_U_E_%E2%80%A2_1928 */
    --a: hsl(13, 74%, 59%);
    --b: hsl(5, 79%, 38%);
    --c: hsl(345, 50%, 2%);
    --d: hsl(46, 26%, 71%);
    --e: hsl(37, 78%, 89%);

    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --primary: hsl(220 52% 44%);
    --secondary: hsl(208 56% 38%);
    --faint: hsl(0 0% 40%);
    --fainter: hsl(0 0% 73%);
    --faintish: hsl(0 0% 47%);

    /* --background: var(--e); */
    /* --foreground: var(--c); */
    /* --primary: var(--b); */
    /* --secondary: var(--a); */
    /* --faint: hsl(42, 65%, 20%); */
    /* --faintish: hsl(42, 60%, 33%); */
    /* --fainter: var(--d); */
    
    --monospace: 'Droid Sans Mono', monospace;
    --sans: 'Signika Negative', Verdana, Geneva, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 1em/1.3 var(--sans);
    color: var(--foreground);
    background: var(--background);
}

@media (prefers-color-scheme: dark) {
    :root {

        --background: var(--c);
        --foreground: var(--e);
        --primary: var(--a);
        --secondary: var(--b);
        --faint: var(--d);
        --faintish: hsl(46, 26%, 51%);
        --fainter: hsl(46, 26%, 11%);
    }

    body {
        text-shadow: 1px 1px 2px black;
    }
}

a {
    text-decoration: none;
    color: var(--primary);
}
a:visited {
    color: var(--foreground);
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: var(--secondary);
}

.container {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1em;
}
.container:before, .container:after {
    clear: both;
    content: " ";
    display: table;
}

.page-title {
    background: var(--faint);
    border-bottom: 1px solid var(--fainter);
    padding: 0;
    margin: 0;
}
.page-title h1 {
    font-size: 1.5em;
    padding: 1.3rem;
    margin: 0;
    height: 1.3rem;
    line-height: 1.3rem;
    display: inline-block;
    padding-left: 0;
    font-weight: bold;
}

ul { list-style: none; padding: 0; }

.blocks {
    width: auto;
    margin: 2.6rem 0;
}

.block {
    clear: both;
    padding: .5rem 0 0;
    border-top: 1px solid var(--fainter);
    margin: 1.1rem 0 0;
}
.block-title h1, .block-title time {
    float: left;
    padding: 0 .5rem 0 0;
    margin: -1.1rem 0 0;
    font-size: .75rem;
    font-weight: normal;
    background: var(--background);
}
.block-title time { font-family: var(--monospace); }
.block-title .icon {
    position: relative;
    float: left;
    margin: 0 .5rem 0 -1.5rem;
    border: 0 none;
    vertical-align: middle;
}
.block-title time {
    float: right;
    padding: 0 0 0 .5rem;
    font-family: var(--monospace);
    color: var(--faint);
}

.item {
    clear: both;
    position: relative;
    padding: 1rem 0;
    margin: 0;
}
.item header {
    margin: 0 0 .3rem;
}
.item h2 {
    font-size: 1rem;
    margin: 0;
}
.item summary h2 {
    display: inline-block;
}
.item p {
    font-size: 0.875rem;
    margin: .2rem 0;
}
.item .timea {
    clear: both;
    margin: 0 1.5rem 0 0;
    font-size: .6875rem;
    color: var(--faint);
    font-family: var(--monospace);
}
.item img {
    max-width: 100%;
}
.item .code {
    float: right;
}
.item .code.ok       { color: silver; }
.item .code.redirect { color: yellow; }
.item .code.error    { color: red; }
.item .code.fault    { color: orange; }
.item .code.unknown  { color: black; }

footer {
    color: var(--faintish);
    opacity: .5;
    font-size: 0.8rem;
    margin: 5rem auto;
    transition: .3s;
    text-align: center;
}

footer:hover {
    opacity: 1;
}

footer a, footer a:visited {
    color: var(--faint);
    text-decoration: underline;
}

footer a:hover, footer a:focus, footer a:active {
    color: var(--foreground);
}

@media screen and (max-width: 40rem) {
    .block-title .icon, .block-title .feed { display: none; }
}
