<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riviera</title>
    <link rel="stylesheet" href="/public/garden.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Riviera</a></h1>
      <nav>
        <ul>
          <li><a href="/river">River</a></li>
          <li>Garden</li>
          {{ if .SignedIn }}
            <li><a href="/admin">admin</a></li>
            <li><a href="/sign-out">Sign-out</a></li>
          {{ else }}
            <li><a href="/sign-in">Sign-in</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
    
    <main>
      <ul>
        {{ range .Feeds }}
          <li data-toggled="{{ .WebsiteURL }}">
            <h2><a href="{{ .WebsiteURL }}">{{ .Title }}</a></h2>
            <time datetime="{{ .UpdatedAt }}">{{ ago .UpdatedAt }}</time>
            <span class="toggle" data-toggle="{{ .WebsiteURL }}">∴</span>
            <ol>
              {{ range .Items }}
                <li>
                  <h3><a href="{{ .PermaLink }}">{{ truncate .Title 40 }}</a></h3>
                  <time datetime="{{ .PubDate }}">{{ ago .PubDate }}</time>
                </li>
              {{ end }}
            </ol>
          </li>
        {{ end }}
      </ul>
    </main>
    
    <script src="/public/garden.js"></script>
  </body>
</html>
